<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18F8519A1D3DDA6700B712C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F851AE1D3DDA6800B712C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F851B91D3DDA6800B712C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
